<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="warn" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%p] - %l - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="ERROR" />
        <Logger name="org.mybatis" level="ERROR" />
        <Logger name="com.luis" level="ERROR" />

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>